<div class="input-dialog-container">
  <div class="dialog-title">View User</div>

  <div class="btn-close" (click)="closeDialog()">
  </div>
  <div class="title-content-devider"></div>

  <div class="dialog-content modal-content">
  <div class="dialog-input-fields">

    <div class="view-data">
      <label for="Username" class="label">Username</label>
      <p title="{{userModel.username}}" class="data">{{userModel.username}}</p>
    </div>
    <div class="view-data">
      <label for="Username" class="label">Full Name</label>
      <p title="{{userModel.fullName}}" class="data">{{userModel.fullName}}</p>
    </div>
    <div class="view-data">
      <label for="User Role" class="label">User Role</label>
      <p title="{{userModel.userRoleDescription}}" class="data">{{userModel.userRoleDescription}}</p>
    </div>
    <div class="view-data">
      <label for="NIC" class="label">NIC</label>
      <p title="{{userModel.nic}}" class="data">{{userModel.nic}}</p>
    </div>
    <div class="view-data">
      <label for="Date of Birth" class="label">Date of Birth</label>
      <p title="{{userModel.dateOfBirth }}" class="data">{{userModel.dateOfBirth }}</p>
    </div>
    <div class="view-data">
      <label for="District" class="label">District</label>
      <p title="{{userModel.districtDescription }}" class="data">{{userModel.districtDescription }}</p>
    </div>

    <div class="view-data">
      <label for="Status" class="label">Status</label>
      <p title="{{userModel.status }}" class="data">{{userModel.status}}</p>
    </div>
    <div class="view-data">
      <label for="Email" class="label">Email</label>
      <p title="{{userModel.email }}" class="data">{{userModel.email}}</p>
    </div>
    <div class="view-data">
      <label for="Contact Number" class="label">Contact Number</label>
      <p title="{{userModel.mobileNo }}" class="data">{{userModel.mobileNo}}</p>
    </div>
    <div class="view-data">
      <label for="Address" class="label">Address</label>
      <p title="{{userModel.address}}" class="data">{{userModel.address}}</p>
    </div>
    <div class="view-data">
      <label for="City" class="label">City</label>
      <p title="{{userModel.city}}" class="data">{{userModel.city}}</p>
    </div>

    <div class="view-data">
      <label for="createdUser" class="label">Created User</label>
      <p title="{{userModel.createdUser}}" class="data">{{userModel.createdUser}}</p>
    </div>

    <div class="view-data">
      <label for="lastUpdatedUser" class="label">Last Updated User</label>
      <p title="{{userModel.lastUpdatedUser}}" class="data">{{userModel.lastUpdatedUser}}</p>
    </div>

    <div class="view-data">
      <label for="createdTime" class="label">Created Date & Time</label>
      <p title="{{userModel.createdTime}}" class="data">{{userModel.createdTime}}</p>
    </div>

    <div class="view-data">
      <label for="lastUpdatedTime" class="label">Last Updated Date & Time</label>
      <p title="{{userModel.lastUpdatedTime}}" class="data">{{userModel.lastUpdatedTime}}</p>
    </div>
  </div>
</div>
</div>