.login-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    background-color: #1877F2;
}

//login form side css >>>>>>>>>>>>
.login-side1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;

    .login-side1-div {
        width: 400px;
        height: 480px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #ffffff;
    }

    .login-side1-row {
           display: inline-block;
           width: 100%;
           max-width: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;

           .login-side1-row-logo {
             width: 120px;
           }

        .welcome {
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            font-weight: bold;
        }

        .welcome_des {
            color: #1565C0;
            font-size: 14px;
            font-weight: 500;
        }

        .des {
            color: gray;
            font-size: 16px;
            & :hover {
                cursor: pointer;
            }
            .txt_register {
                color: #0096FE;

                & :hover {
                    cursor: pointer;
                }
            }
        }

        .input-field {
            outline: 1px solid red;
        }

        .btn-login {
            width: 200px;
          background-color: gray;
          color:white
        }
    }

    .social-column {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .ultra-max-field {
        width: 350px;

    }

    .login-side1-row-forget {
        display: inline-block;
        width: 350px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // background-color: rebeccapurple;
        padding-right: 25px;
        flex-direction: row;

        .txt_forget {
            color: #0096FE;
            font-family: 'Courier New', Courier, monospace;
            font-size: 14px;
        }
    }

    .new-line {
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}
.login-side2-image {
    width: 150px !important;
    height: auto;
}

// >>>>> Mobile responsive

@media screen and (max-width: 1000px) {
    .login-side1 {
        width: 50% !important;
    }

    .login-side2 {
        width: 50% !important;
    }
}

@media screen and (max-width: 768px) {
    .login-side1 {
        width: 100% !important;
    }

    .login-side2 {
        display: none !important;
    }
}
