<div class="input-dialog-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="productAdd">
        <div class="dialog-title">Add Ingredients</div>
        <div class="btn-close" (click)="closeDialog()">
        </div>
        <div class="title-content-devider"></div>
        <div class="dialog-content modal-content">
        <div class="dialog-input-fields">
            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input matInput [formControl]="ingredientsName" [maxlength]="32" autoComplete='off'
                        [(ngModel)]="ingredientAdd.ingredientsName" appRegexFormate regexType="letter_num" required>
                    <mat-error *ngIf="ingredientsName.hasError('required')">Meal name cannot be
                        empty
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select [formControl]="status" required [(ngModel)]="ingredientAdd.status">
                        <mat-option [value]="">Select Status</mat-option>
                        <mat-option *ngFor="let st of statusList" [value]="st.code">
                            {{st.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="status.hasError('required')">Status cannot be empty
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="dialog-buttons">
            <button type="submit" mat-button class="custom-button primary">Add
            </button>
            <button type="reset" mat-button class="custom-button secondary" (click)="reset()">Reset</button>
        </div>
        
    </div>
    </form>
</div>