<div class="input-dialog-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="productAdd">
        <div class="dialog-title">Update Product</div>
        <div class="btn-close" (click)="closeDialog()">
        </div>
        <div class="title-content-devider"></div>
        <div class="dialog-content modal-content">
        <div class="dialog-input-fields">
            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input matInput [formControl]="mealName" [maxlength]="24" autoComplete='off'
                        [(ngModel)]="biteAdd.mealName" appRegexFormate regexType="letter_num" required>
                    <mat-error *ngIf="mealName.hasError('required')">Product name cannot be
                        empty
                    </mat-error>
                </mat-form-field>
            </div>

            
            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                  <mat-label>Amount (RS)</mat-label>
                  <input matInput type="text" [formControl]="price" appRegex regexType="number"
                         [(ngModel)]="biteAdd.price" required maxlength="64"/>
                  <mat-error *ngIf="price.hasError('required')">Amount cannot be empty
                  </mat-error>
                </mat-form-field>
              </div>

            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select [formControl]="status" required [(ngModel)]="biteAdd.status">
                        <mat-option [value]="">Select Status</mat-option>
                        <mat-option *ngFor="let st of statusList" [value]="st.code">
                            {{st.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="status.hasError('required')">Status cannot be empty
                    </mat-error>
                </mat-form-field>
            </div>
              
            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Product Category</mat-label>
                    <mat-select [formControl]="productCategory" required [(ngModel)]="biteAdd.productCategory">
                        <mat-option *ngFor="let st of productCatList" [value]="st.code">
                            {{st.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            
            <div class="input-fields" *ngIf="showPortionField">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Portion</mat-label>
                    <mat-select [formControl]="portion" required [(ngModel)]="biteAdd.portion">
                        <mat-option [value]="">Select Portion</mat-option>
                        <mat-option *ngFor="let st of portionList" [value]="st.code">
                            {{st.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="portion.hasError('required')">Portion cannot be empty
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-fields" *ngIf="isIngredientReq">
                <mat-form-field class="min-field" appearance="outline" >
                    <mat-label>Ingredients</mat-label>
                    <mat-select [formControl]="ingredientList" required="{{isIngredientReq}}"  multiple [(ngModel)]="biteAdd.ingredientList">
                        <mat-option *ngFor="let st of ingredientsList" [value]="st.id">
                            {{st.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ingredientList.hasError('required')">Ingredients cannot be empty</mat-error>
                </mat-form-field>
            </div>


            <mat-form-field class="example-full-width txt-remark" appearance="outline">
                <mat-label>description</mat-label>
                <textarea matInput placeholder="Ex. please add remark" [rows]="3" [(ngModel)]="biteAdd.description" [formControl]="description"
                  required ngModel [maxlength]="512"></textarea>
                <mat-error *ngIf="description.hasError('required')">description cannot be empty</mat-error>
              </mat-form-field>


              <div class="input-fields">
                <div class="thubnail_-images-data">
                  <label class="label">Image (Maximum size (W*H) : 1920 * 1080 pixels)</label>
                  <div class="thubnail_images">
                    <div class="thubnail_image">
                      <img [src]="thumbnailImage" alt="Thumbnail Image" id="srcHelpLink" class="thumbnail-img">
                      <label class="img-label"></label>
                    </div>
                    <input type="file" #thumbnailInput id="thumbnail" name="thumbnail"
                           (change)="selectFile($event.target.files)"
                           accept="image/png,image/jpg,image/jpeg">
                  </div>
                  <mat-error *ngIf="isEmptyThumbnail == false">Image cannot be empty</mat-error>
                </div>
              </div>
              

        </div>
        <div class="dialog-buttons">
            <button type="submit" mat-button class="custom-button primary">Add
            </button>
            <button type="reset" mat-button class="custom-button secondary" (click)="reset()">Reset</button>
        </div>
        
    </div>
    </form>
</div>