<div class="input-dialog-container">
    <div class="dialog-title">View Package</div>
  
    <div class="btn-close" (click)="closeDialog()">
    </div>
    <div class="title-content-devider"></div>
  
    <div class="dialog-input-fields">
  
      <div class="view-data">
        <label for="packageId" class="label">Package Id</label>
        <p title="{{biteModel.packageId }}" class="data">{{biteModel.packageId }}</p>
      </div>
      <div class="view-data">
        <label for="mealName" class="label">mealName</label>
        <p title="{{biteModel.mealName }}" class="data">{{biteModel.mealName }}</p>
      </div>
      <div class="view-data">
        <label for="description" class="label">description</label>
        <p title="{{biteModel.description }}" class="data">{{biteModel.description }}</p>
      </div>
      <div class="view-data">
        <label for="price" class="label">price</label>
        <p title="{{biteModel.price }}" class="data">{{biteModel.price}}</p>
      </div>
      <div class="view-data">
        <label for="portion" class="label">portionDescription</label>
        <p title="{{biteModel.portionDescription}}" class="data">{{biteModel.portion}}</p>
      </div>
      <div class="view-data">
        <label for="Status" class="label">Status</label>
        <p title="{{biteModel.statusDescription }}" class="data">{{biteModel.statusDescription }}</p>
      </div>
  
      <div class="view-data">
        <label for="createdUser" class="label">Created User</label>
        <p title="{{biteModel.createdUser }}" class="data">{{biteModel.createdUser}}</p>
      </div>
  
      <div class="view-data">
        <label for="lastUpdatedUser" class="label">Last Updated User</label>
        <p title="{{biteModel.lastUpdatedUser}}" class="data">{{biteModel.lastUpdatedUser}}</p>
      </div>
  
      <div class="view-data">
        <label for="createdTime" class="label">Created Date & Time</label>
        <p title="{{biteModel.createdTime }}" class="data">{{biteModel.createdTime| date:"yyyy/MM/dd 'at' h:mm a" }}</p>
      </div>
  
      <div class="view-data">
        <label for="lastUpdatedTime" class="label">Last Updated Date & Time</label>
        <p title="{{biteModel.lastUpdatedTime }}" class="data">{{biteModel.lastUpdatedTime| date:"yyyy/MM/dd 'at' h:mm a"  }}</p>
      </div>
    </div>
  </div>