<div class="input-dialog-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="userAdd">
        <div class="dialog-title">Add User</div>
        <div class="btn-close" (click)="closeDialog()">
        </div>
        <div class="title-content-devider"></div>
        <div class="dialog-content modal-content">
        <div class="dialog-input-fields">
            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput [formControl]="username" [maxlength]="8" autoComplete='off'
                        [(ngModel)]="userModelAdd.username" appRegexFormate regexType="letter_num" required>
                    <mat-error *ngIf="username.hasError('required')">User name cannot be
                        empty
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput name="fullName" [formControl]="fullname" [maxlength]="255" appRegexFormate
                        regexType="letter_num_space" autoComplete='off' [(ngModel)]="userModelAdd.fullName" required>
                    <mat-error *ngIf="fullname.hasError('required')">Full name cannot be empty
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>User Role</mat-label>
                    <mat-select [formControl]="userRole" required [(ngModel)]="userModelAdd.userRole">
                        <mat-option [value]="">Select User Role</mat-option>
                        <mat-option *ngFor="let st of userRoleList" [value]="st.code">
                            {{st.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="userRole.hasError('required')">User role cannot be
                        empty
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>NIC</mat-label>
                    <input matInput [formControl]="nic" [maxlength]="12" [(ngModel)]="userModelAdd.nic" required
                        autoComplete='off'
                        onkeyup="$(this).val($(this).val().replace(/[^0-9xXvV]/g,''));this.value = this.value.toUpperCase();"
                        onmouseout="$(this).val($(this).val().replace(/[^0-9xXvV]/g,''));this.value = this.value.toUpperCase();"
                        (change)="onNicInputChange($event)">
                    <mat-error *ngIf="nic.hasError('required')">NIC cannot be empty</mat-error>
                    <mat-error *ngIf="nic.hasError('pattern')">Invalid NIC
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                  <mat-label>Date of Birth</mat-label>
                  <input matInput name="dateOfBirth" [formControl]="dateofbirth" disabled =true
                         [(ngModel)]="userModelAdd.dateOfBirth" autoComplete='off' [max]="maxDate"
                         [matDatepicker]="picker1" (click)="picker1.open()" required readonly>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="dateofbirth.hasError('required')">Date of birth cannot be
                    empty
                  </mat-error>
                </mat-form-field>
              </div>


            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput name="email" [formControl]="email" required [maxlength]="255" autoComplete='off'
                        [(ngModel)]="userModelAdd.email">
                    <mat-error *ngIf="email.hasError('required')">Email cannot be empty
                    </mat-error>
                    <mat-error *ngIf="email.hasError('email')">Invalid Email
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput name="password" [formControl]="password" type="password" autoComplete='off'
                        [(ngModel)]="userModelAdd.password" required>
                    <mat-error *ngIf="password.hasError('required')">Password cannot be empty
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-fields" >
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput name="confirmPassword" [formControl]="confirmpassword" type="password"
                        autoComplete='off' [(ngModel)]="userModelAdd.confirmPassword" required>
                    <mat-error *ngIf="confirmpassword.hasError('required')">Confirm password
                        cannot be empty
                    </mat-error>
                    <mat-error *ngIf="confirmpassword.hasError('NoPassswordMatch')">Password
                        mismatched
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>District</mat-label>
                    <mat-select [formControl]="district" required [(ngModel)]="userModelAdd.district">
                        <mat-option [value]="">Select District</mat-option>
                        <mat-option *ngFor="let st of districtList" [value]="st.code">
                            {{st.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="district.hasError('required')">District cannot be empty
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select [formControl]="status" required [(ngModel)]="userModelAdd.status">
                        <mat-option [value]="">Select Status</mat-option>
                        <mat-option *ngFor="let st of statusList" [value]="st.code">
                            {{st.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="status.hasError('required')">Status cannot be empty
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Mobile No</mat-label>
                    <input matInput [formControl]="mobile" [maxlength]="10" [(ngModel)]="userModelAdd.mobileNo"
                        autoComplete='off' required appRegex regexType="number">
                    <mat-error *ngIf="mobile.hasError('required')">Mobile No cannot be
                        empty
                    </mat-error>
                    <mat-error *ngIf="mobile.hasError('pattern')">Invalid Mobile No
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput name="address" [formControl]="address" [maxlength]="255" autoComplete='off'
                        [(ngModel)]="userModelAdd.address">
                </mat-form-field>
            </div>

            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput name="city" [formControl]="city" [maxlength]="64" autoComplete='off'
                        [(ngModel)]="userModelAdd.city" appRegexFormate regexType="letter_only">
                </mat-form-field>
            </div>


        </div>
    </div>
        <div class="dialog-buttons">
            <button type="submit" mat-button class="custom-button primary">Add
            </button>
            <button type="reset" mat-button class="custom-button secondary" (click)="resetUserAdd()">Reset</button>
        </div>
    </form>
</div>