<div class="input-dialog-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="userAdd">
        <div class="dialog-title">Reset Password</div>
        <div class="btn-close" (click)="closeDialog()">
        </div>
        <div class="title-content-devider"></div>
        <div class="dialog-input-fields">

            <div class="input-fields">
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput name="password" [formControl]="password" type="password" autoComplete='off'
                        [(ngModel)]="userModelAdd.password" required>
                    <mat-error *ngIf="password.hasError('required')">Password cannot be empty
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="input-fields" >
                <mat-form-field class="min-field" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput name="confirmPassword" [formControl]="confirmpassword" type="password"
                        autoComplete='off' [(ngModel)]="userModelAdd.confirmPassword" required>
                    <mat-error *ngIf="confirmpassword.hasError('required')">Confirm password
                        cannot be empty
                    </mat-error>
                    <mat-error *ngIf="confirmpassword.hasError('NoPassswordMatch')">Password
                        mismatched
                    </mat-error>
                </mat-form-field>
            </div>


        </div>
        <div class="dialog-buttons">
            <button type="submit" mat-button class="custom-button primary">Confirm
            </button>
            <button type="reset" mat-button class="custom-button secondary" (click)="resetUserAdd()">Reset</button>
        </div>
    </form>
</div>