<div class="dashboard_main">
    <div class="div_main_1">
        <div class="div_main_1_title">
            <span class="txt_title">Summery ( 2023-07-08 ) </span>
            <!-- <span class="txt_sub">Next Evaluation Date: {{nextEvaDate}}</span> -->
        </div>
        <div class="div_main_1_body">
            <div class="card_1">
 
            </div>
            <div class="card_2">
                
            </div>
            <div class="card_3">

            </div>
        </div>
    </div>
    <div class="div_main_2">
        <div class="dev_table_1">
            
            
        </div>
        <div class="dev_table_1">
            
        </div>


    </div>
    <div class="div_main_3">
        <div class="dev_table_1">
            
        </div>
        <div class="dev_table_1">
            
        </div>
    </div>
</div>
