<div class="dashboard_main">
    <div class="div_main_1">
        <div class="div_main_1_title">
            <span class="txt_title">Summery ( 2024-01-01 ) </span>
            <span class="txt_sub">Job seekers </span>
        </div>
        <div class="div_main_1_body">
            <div class="card_1">
 

                <div class="style-box1 l-bg-blue-dark ">
                    <div class="overview_card">
                      <div class="overview_top">
                        <div>
                          <mat-icon class="icon-dash">pending</mat-icon>
                          <p>Pending Appointment</p>
                        </div>
                      </div>
                      <p class="overview_num">wsedfg</p>
                      <p class="overview_text">All BreakDowns</p>
                    </div>
                  </div>
                  

            </div>
            <div class="card_2">
                

                <div class="style-box2  l-bg-cherry">
                    <div class="overview_card">
                      <div class="overview_top">
                        <div>
                          <mat-icon class="icon-dash">block</mat-icon>
                          <p>Canceled Appointment</p>
                        </div>
                      </div>
                      <p class="overview_num">werfg</p>
                      <p class="overview_text">All Users</p>
                    </div>
                  </div>


            </div>
            <div class="card_3">


                <div class="style-box3 l-bg-orange-dark ">
                    <div class="overview_card">
                      <div class="overview_top">
                        <div>
                          <mat-icon class="icon-dash">add_task</mat-icon>
                          <p>Completed Appointment</p>
                        </div>
                      </div>
                      <p class="overview_num">wedfwedf</p>
                      <p class="overview_text">All Machine</p>
                    </div>
                  </div>


            </div>
        </div>
    </div>
    <div class="div_main_2">
        <div class="dev_table_1">
            
                <!-- <ngx-charts-line-chart class="chart-container"
                  [view]="[500, 400]"
                  [scheme]="colorScheme"
                  [results]="lineChartData"
                  [xAxis]="true"
                  [yAxis]="true"
                  [legend]="true"
                  [showXAxisLabel]="true"
                  [showYAxisLabel]="true"
                  [xAxisLabel]="'Months'"
                  [yAxisLabel]="'Sales'"
                ></ngx-charts-line-chart> -->
        </div>
        <div class="dev_table_1">
            
                <!-- <ngx-charts-pie-chart class="chart-container"
                  [view]="[500, 400]"
                  [scheme]="colorScheme"
                  [results]="pieChartData"
                  [legend]="true"
                  [labels]="true"
                ></ngx-charts-pie-chart> -->

        </div>


    </div>
    <!-- <div class="div_main_3">
        <div class="dev_table_1">
            
        </div>
        <div class="dev_table_1">
            
        </div>
    </div> -->
</div>
